@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
    font-family: Lobster; /* Имя шрифта */
    src: url(../fonts/lobster.ttf); /* Путь к файлу со шрифтом */
}
body {
    color: #5a5a5a;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, p, a, button{
    font-family: Roboto, sans-serif;
}
h3,h4,h6 {
    font-family: Lobster, sans-serif;
}
.lobster>img {
}
h4 {
    margin-top: 10px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.space {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.jumbotron {
    padding-top: 8rem;
    padding-bottom: 9rem;
    margin-bottom: 0;
    background: url("../img/experts.jpg") no-repeat;
    background-size: cover;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.album {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
    max-width: 100%;
}

.card-text {
    font-size: 85%;
}

html,
body {
    height: 100%;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

#footerwrap {
    background: #292b2c;
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: white;
    font-family: Roboto, sans-serif;
}

#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #00b3fe
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    /*margin-bottom: 2rem;*/
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
    color: black;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-order {
    max-width: 430px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.well {
    min-height: 20px;
    margin-bottom: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


.well-margin {
    margin-bottom: 20px;
}

.bg-faded {
    background-color: #fafafa;
}